<h1>New Journal Entry</h1>
<%= form_for @entry do |f| %>
<%= f.label "Title" %>
<%= f.text_field :title %><br>
<%= f.label "Content" %>
<%= f.text_area :content %><br>
<%= f.collection_select :journal_id, @user.journals, :id, :title %>
<%= f.submit %>
<% end %>

<% if flash[:error_messages] %>
<p><%= flash[:error_messages] %></p>
<% end %>



