<div>
<h2> Daily Care</h2>
<p> You drank an average of <%= @avg_stats[:water] %> cups of water each day </p><br>
<p> You slept an average of <%= @avg_stats[:sleep] %> hours each night </p><br>
<p> You worked an average of <%= @avg_stats[:work_time] %> hours each day </p><br>
<p> You played an average of <%= @avg_stats[:play_time] %> hours each day</p><br>
</div>
<br>
<br>
<br>
<br>
<div>
<h2> Average Satifaction Ratings </h2>
<p> Energy: <%= @avg_stats[:energy] %> </p><br>
<p> Productivity: <%= @avg_stats[:productivity] %> </p><br>
<p> Motivation: <%= @avg_stats[:motivation] %>  </p><br>
<p> Stress: <%= @avg_stats[:stress] %> </p><br>
<p> Mood: <%= @avg_stats[:mood] %> </p><br>