<h1>Edit Journal</h1>

<%= form_for @journal do |f| %>
<%= f.label "Title" %>
<%= f.text_field :title %>
<%= f.label "Description" %>
<%= f.text_field :description %>
<%= f.submit %>
<% end %>

<% if flash[:error_messages] %>
<p><%= flash[:error_messages] %></p>
<% end %>

<%= link_to "Back", journal_path %>
