<h1><%= @journal.title %></h1>
<h2><%= @journal.description %><br>

<h3>Entries:<h3>
<% @journal.journal_entries.each do |entry| %>
<%if entry.content != nil %>
<h4><%= link_to entry.title, entry %></h4>
<% end %>
<% end %>


<h2><%= link_to 'Edit Journal Details', edit_journal_path %></h2>
<h2><%= link_to "Back", journals_path %></h2>
<h2><%= link_to "Dashboard", user_path %></h2>
<h2><%= button_to 'Delete Journal', @journal, method: :delete, data: { confirm: 'Are you sure?' } %></h2>





